<h1>Student Form</h1>
<%= form_for @student do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name"%>
  <%= f.submit %>
<% end %>
